@model MVC.Models.User
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    ViewData["Title"] = "Reset Password";
}



<div class="container">
    <div class="text-center">    <h1>New Password</h1></div>
    <div class="d-flex justify-content-center">
        <div class="card" style="width:40rem;">
            <div class="card-body">
                <form asp-action="NewPassword" asp-controller="Auth">
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group mb-3">
                        <label class="control-label">New Password</label>
                        <input name="Password" asp-for="Password" type="password" class="form-control" placeholder="Password" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label class="control-label">Retype New Password</label>
                        <input name="retypePassword" type="password" class="form-control" placeholder="Retype Password" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Send" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
  
</div>

@if (ViewBag.Message != null)
{
    <script type="text/javascript">
                    window.onload = function () {
                        alert("@ViewBag.Message");
                    }
    </script>
}
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}